html,
body {
  height: 100%;
}
h1,
h1 span,
h2,
h2 span,
label {
  font-family: 'Fredoka One', cursive !important;
}
a,
p,
span,
strong,
li,
button,
h3,
h4,
input,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
}
