@import url("./root.css");

/* =============== header ==================== */
header {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 223px;
  height: 101%;
  background: var(--bgColor2);
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  z-index: 5;
  transition: left 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transform: rotate(2deg) translate(-17px, -5px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
  left: -220px;
  opacity: 0;
}

header.active {
  left: 0;
  opacity: 1;
}

header .logo {
  font-size: 30px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--title);
}

header .logo a {
  color: #000;
}

header .gnb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .gnb ul {}

header .gnb ul li {
  margin: 10px 0;
}

header .gnb ul li a {
  position: relative;
  color: var(--textColor);
  font-size: 20px;
  display: block;
  font-style: italic;
  line-height: 1.5;
  transition: 0.5s;
  cursor: pointer;
}

header .gnb ul li a.active {
}

header .gnb ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 22px;
  background: var(--yellow-neon);
  transform: skew(-10deg);
  opacity: var(--bgOpacity);
  transition: 0.7s;
  z-index: -1;
}

header .gnb ul li a.active::after {
  width: 100%;
}

header .gnb ul li a:hover {
  text-decoration: underline;
}

.dark-button {
  position: absolute;
  bottom: 50px;
  right: -12px;
  transform: rotate(90deg);
}

.d-mode {
  display: none;
}

.d-mode--btn {
  width: 75px;
  height: 10px;
  background-color: #676767;
  display: block;
  border-radius: 30px;
  position: relative;
  transition: 0.5s;
  box-shadow: inset 3px 3px 2px rgba(0, 0, 0, .2);
  cursor: pointer;

}

/* .d-mode--btn::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 20px;
  background-image: url("../img/dark_mode.png");
  position: absolute;
  transform: translateY(-50%);
  left: calc(100% - 30px);
  opacity: 0.4;
} */

.d-mode--btn .d-mode--switch {
  display: block;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: 0.5s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.d-mode--btn .d-mode--switch::before {
  content: "";
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  left: calc(50% - 14px);
  background-image: url("../img/sun.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: calc(50% - 14px);
}

.dark-button input:checked+.d-mode--btn {
  background: #e6b72c;
}

.dark-button input:checked+.d-mode--btn::before {
  background-image: url("../img/light_mode.png");
  left: 9px;
  opacity: 0.7;
}

.dark-button input:checked+.d-mode--btn .d-mode--switch {
  left: calc(100% - 40px);
  background-color: #666;
}

.dark-button input:checked+.d-mode--btn .d-mode--switch::before {
  background-image: url("../img/moon.png");
}

.color-theme-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.color-theme-btn span+span {
  margin-left: 0.9rem;
}

.color-theme-btn input[type="radio"] {
  display: none;
}

.color-theme-btn input[type="radio"]+label {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  color: var(--textColor);
  box-sizing: border-box;
}

.color-theme-btn input[type="radio"]+label::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  content: "";
  width: 0;
  height: 50%;
  transform: translateY(-50%) skew(-10deg);
  background: transparent;
  opacity: var(--bgOpacity);
  transition: 0.5s;
}

.color-theme-btn input[type="radio"]:checked+label::after {
  width: 100%;
  background: var(--yellow-neon);
}

.color-theme-btn input[type="radio"]+label::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(134deg) brightness(247%) contrast(12%);
}

.color-theme-btn input[type="radio"]+label[for="light-mode"]::before {
  background-image: url("../img/light_mode.png");

}

.color-theme-btn input[type="radio"]+label[for="dark-mode"]::before {
  background-image: url("../img/dark_mode.png");
}

header .hambuger {
  position: absolute;
  top: 20px;
  right: 0;
  width: 55px;
  height: 40px;
  padding: 0 13px;
  box-sizing: border-box;
  background-color: var(--yellow-main);
  transform: translateX(100%);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

header .hambuger__item {
  width: 25px;
  height: 4px;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 5px;
  display: none;
  transition: 0.2s;
  pointer-events: none;
}

header .hambuger__item:nth-child(2) {
  width: 17px;
}

header .hambuger:hover .hambuger__item:not(:nth-child(3)) {
  /* width: 28px; */
  margin-bottom: 7px;
}

header .hambuger__item:nth-child(3) {
  margin-bottom: 0;
}