html {
  font-size: 9px;
}
section {
  padding-left: 0;
}
.container {
  padding: 0 100px;
}
/* header {
  left: -220px;
} */
header .hambuger__item {
  display: block;
}
#home .smile {
  width: 35vw;
  height: 35vw;
}
#about .skill .skill__description {
  bottom: -15%;
}
.portfolio-more {
  padding-left: 0;
}
#contact {
  height: auto;
}