html {
  font-size: 9px;
}
header {
  left: -220px;
}
header .hambuger span {
  display: block;
}
section {
  padding-left: 0;
}
#home .smile {
  width: 35vw;
  height: 35vw;
}
.container {
  padding: 0 100px;
}
.portfolio-more {
  padding-left: 0;
}
#contact {
  height: auto;
}