.cally {
  width: 500px;
  height: 200px;
  overflow: hidden;
  position: relative;
  
}
.btn {
  padding: 10px 20px;
  font-size: 20px;
  background: #ffda15;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
svg {
  position: absolute;
  top: -150%;
  left: 0;
  
}

path,
line {
  fill: none;
  stroke:#333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 6;
}
/* choi */
.path_01 {
  animation: hand-writing 1.5s linear forwards ;
}
.path_02 {
  animation: hand-writing 1.5s linear forwards 0.3s;
}
.path_03 {
  animation: hand-writing 1.5s linear forwards 0.6s;
}
.path_04 {
  animation: hand-writing 1.5s linear forwards 0.9s;
}
.path_05 {
  animation: hand-writing 1.5s linear forwards 3.6s;
}

/* jin */
.path_06 {
  animation: hand-writing 1.8s linear forwards 1.3s;
}
.path_07 {
  animation: hand-writing 1.5s linear forwards 1.8s;
}
.path_08 {
  animation: hand-writing 1.5s linear forwards 2.0s;
}
.path_09 {
  animation: hand-writing 1.5s linear forwards 4.0s;
}

/* ju */
.path_10 {
  animation: hand-writing 1.8s linear forwards 2.4s;
}
.path_11 {
  animation: hand-writing 1.5s linear forwards 2.9s;
}
@keyframes hand-writing{
  100%{
    stroke-dashoffset: 0;
  }
}