:root {
  --yellow-main : #ffcc33;
  --yellow-light: #fff5b1;
  --yellow-neon: #e4ff00;
  --blue-sky: #b7e5ff;
  --slide-width: 400px;
  --slide-height: 350px;
  --font-cally: 'Hi Melody', cursive;
  --font-cally-2: 'Nanum Pen Script', cursive;
}
