@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('./root.css');


.smile-small {
  position: absolute;
  left: 66px;
  top: 21px;
  z-index: 1;
  width: 23px;
  background-color: var(--yellow-main);
  border-radius: 50%;
  border: 2px solid #000;
  animation-name: smile-roll;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes smile-roll {
  100% {
    transform: rotate(-360deg);
  }
}

.font-ani {
  animation: font-right;
}

/* =============== home ==================== */
.home {
  background: var(--homeBg);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin-left: 0;
  padding-left: 0;
}

.home .inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .title {}

.home .title h2 {
  color: var(--title);
}

.home .title h2 span {
  font-size: 9.0rem;
}

.home .title h2 span {
  position: relative;
}

.home .title .title__item {
  animation: title-ani 1.5s cubic-bezier(.23, 1, .32, 1) 1 forwards;
  top: -50px;
  opacity: 0;
}

.home .title .title__item:nth-child(1) {
  animation-delay: 3.0s;
}

.home .title .title__item:nth-child(2) {
  animation-delay: 3.1s;
}

.home .title .title__item:nth-child(3) {
  animation-delay: 3.2s;
}

.home .title .title__item:nth-child(4) {
  animation-delay: 3.3s;
}

.home .title .title__item:nth-child(5) {
  animation-delay: 3.4s;
}

.home .title .title__item:nth-child(6) {
  animation-delay: 3.5s;
}

.home .title .title__item:nth-child(7) {
  animation-delay: 3.6s;
}

.home .title .title__item:nth-child(8) {
  animation-delay: 3.7s;
}

.home .title .title__item:nth-child(9) {
  animation-delay: 3.8s;
}

.home .title .title__item:nth-child(9) {
  animation-delay: 3.9s;
}

.home .title h2 span.infinite {}

@keyframes title-ani {
  0% {
    top: -100px;
  }

  20% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  70% {
    top: 0;
  }

  80% {
    top: -5px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes title-ani-infinite {
  0% {
    top: -10px;
  }

  20% {
    top: 0;
  }

  50% {
    top: -8px;
  }

  80% {
    top: 0;
  }

  90% {
    top: -5px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.home .title__img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.home .smile {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 400px;
  height: 400px;
  animation: smile 4.5s cubic-bezier(.43, .14, .26, 1.17) 1s 1 both;
  z-index: 2;
}

@keyframes smile {
  0% {
    width: 50vw;
    height: 50vw;
  }

  20% {
    width: 55vw;
    height: 55vw;
  }

  100% {
    transform: scale(1);
    transform: rotate(-45deg);
    right: -40px;
    bottom: -40px;
  }
}

.home .smile::before {
  content: "";
  width: 12%;
  height: 0;
  background: var(--homeBg);
  display: block;
  position: absolute;
  top: 37%;
  left: 54%;
  animation-name: wink;
  animation-delay: 0.5s;
  animation-duration: 1.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes wink {
  0% {
    height: 7%;
  }

  100% {
    height: 0px;
  }
}

.home .smile::after {
  content: "";
  width: 140%;
  height: 140%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(../img/front.png);
  background-size: 100%;
  background-repeat: no-repeat;
  animation: text-roll 15s linear 4s infinite both;
  transform-origin: 50% 50%;
}

@keyframes text-roll {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0);
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.home .smile img {
  width: 100%;
}

.home button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: transparent;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
}

.home button span {
  transform: scale(2);
  color: rgba(255, 255, 255, .5);
  animation-name: down--button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
  text-shadow: 0 0 4px rgb(255, 255, 255, .9);
}

@keyframes down--button {
  0% {
    margin-bottom: 0px;
  }

  20% {
    margin-bottom: 10px;
  }

  50% {
    margin-bottom: 0px;
  }

  90% {
    margin-bottom: 10px;
  }

  100% {
    margin-bottom: 0px;
  }
}

/* =============== about ==================== */
.about {
  height: auto;
}

.about .container {
  height: 100vh;
  overflow: hidden;
}

.about .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about .intro-first {
  text-align: center;
  position: relative;
}

.about .intro-first .intro__sub {
  font-size: 2.6rem;
  line-height: 1.7;
  font-family: var(--font-cally);
  color: #a8d5f6;
  position: absolute;
  bottom: 10%;
  right: -55px;
  transform: rotate(-22deg);
}

.about .intro-first .intro__main {
  line-height: 2.3;
  font-size: 4.0rem;
  font-weight: 600;
  margin-left: 1px;
  color: var(--title);
}

.about .intro-first .intro__main strong {
  font-size: 4.0rem;
}

.about .intro-first .intro__main .text--point {
  background-color: var(--yellow-main);
  color: #000;
}

.about .intro-first .intro__main .text--dot span {
  position: relative;
}

.about .intro-first .intro__main .text--dot span::before {
  content: "";
  width: 1.0rem;
  height: 1.0rem;
  display: block;
  background-color: var(--yellow-main);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.about .intro-second .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .intro-second .box {
  width: 320px;
  min-height: 300px;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: var(--yellow-light);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, .1);
  position: relative;
}

.about .intro-second ul {
  list-style: initial;
}

.about .intro-second .box--favorite {
  transform: rotate(5deg);
}

.about .intro-second .box--todo {
  transform: translate(-6px, 35px);
  box-shadow: -2px 4px 5px rgb(0 0 0 / 10%);
}

.about .intro-second .box--favorite ul {
  list-style: none;
}

.about .intro-second .subject {
  margin-bottom: 30px;
  font-size: 3.4rem;
  font-weight: 600;
  font-style: italic;
  font-family: var(--font-cally);
}

.about .intro-second .box__list li {
  margin-bottom: 10px;
  line-height: 1.5;
  font-family: var(--font-cally);
  font-size: 2.0rem;
  word-break: keep-all;
  text-align: center;
}

.about .intro-second .box__list strong {
  font-family: var(--font-cally);
  font-weight: bold;
}

.about .skill {
  box-sizing: border-box;
}

.about .skill .wrap {
  position: relative;
  text-align: center;
}

.about .skill h3 {
  margin-bottom: 70px;
}

.about .skill .hover-text {
  font-family: 'Fredoka One', cursive !important;
  font-size: 1.8rem;
  color: #a8d5f6;
  transform: translateY(0px);
  animation: hover_text 1.5s infinite linear;
}

@keyframes hover_text {
  30% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(7px);
  }
}

.about .skill .skill__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 0;
  margin-top: 30px;
}

.about .skill .skill__list li {
  width: 245px;
  height: 60px;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: 0.2s ease-out;
  box-shadow: -4px 4px 5px rgb(0 0 0 / 22%);
  font-size: 2.5rem;
  color: #fff;
  font-weight: 500;
}

.about .skill .skill__list li:nth-child(1) {
  background-color: #E34F26;
  transform: rotate(-5deg) translateY(-10px);
}

.about .skill .skill__list li:nth-child(2) {
  background-color: #1572B6;
}

.about .skill .skill__list li:nth-child(3) {
  background-color: #CC6699;
  transform: rotate(-9deg) translateX(13px);
}

.about .skill .skill__list li:nth-child(4) {
  background-color: #0769AD;
  transform: rotate(3deg);
}

.about .skill .skill__list li:nth-child(5) {
  background-color: #F7DF1E;
  color: #333;
}

.about .skill .skill__list li:nth-child(6) {
  background-color: #31A8FF;
  transform: rotate(-6deg) translateX(5px);
}

.about .skill .skill__list li:nth-child(7) {
  transform: rotate(3deg);
  background-color: #FF9A00;
}

.about .skill .skill__list li:nth-child(8) {
  transform: rotate(-3deg);
  background-color: #333333;
}

.about .skill .skill__list li:nth-child(9) {
  background-color: #4e0039;
  transform: rotate(2deg);
}

.about .skill .skill__list li:hover {
  margin-top: -10px;
  box-shadow: 3px 11px 7px rgb(0 0 0 / 27%);
  z-index: 1;
}

.about .skill .skill__list i {
  margin-right: 15px;
}

.about .skill .skill__description {
  position: absolute;
  bottom: -28%;
  left: 50%;
  width: 700px;
  color: #333;
}

.about .skill .skill__description li {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  transform: translateX(-50%);
  font-size: 2.0rem;
  word-break: keep-all;
  line-height: 1.5;
  color: var(--textColor);
  opacity: 0;
  transition: margin-top 0.5s, opacity 0.3s;
}

.about .skill .skill__description li.hover {
  margin-top: 0;
  opacity: 1;
}

/* =============== PORTFOLIO ==================== */
.portfolio {
  height: auto;
}

.portfolio .inner {}

.portfolio .inner::after {
  content: "";
  display: block;
  clear: both;
}

.portfolio h3 {
  position: sticky;
  top: 0;
  margin-top: 70px;
}

.portfolio .portfolio-content {
  width: 100%;
  padding: 200px 0 150px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.portfolio .portfolio-content .portfolio-images {
  width: 78%;
  overflow-y: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.swiper-button-next,
.swiper-button-prev {
  width: 4.4rem;
}

.portfolio .portfolio-content .portfolio-images .portfolio-ratio {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.portfolio .portfolio-content .portfolio-images:hover::before {
  opacity: 0;
}

.portfolio .portfolio-content .portfolio-images ul {
  width: 300%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.portfolio .portfolio-content .portfolio-images ul li {
  width: calc(100% / 3);
}

.portfolio .portfolio-content .portfolio-images ul li img {
  width: 100%;
}

.portfolio .portfolio-content .portfolio-text {
  vertical-align: bottom;
  padding: 30px;
  background-color: #d7f6ff;
  box-sizing: border-box;
  transform: rotate(2deg) translateY(10px);
  box-shadow: 4px 4px 8px rgb(0 0 0 / 30%);
  text-align: left;
}

.portfolio .portfolio-content:nth-of-type(2) .portfolio-text {
  text-align: right;
}

.portfolio .portfolio-content .portfolio-text h4 {
  font-size: 3.0rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.portfolio .portfolio-content .portfolio-text .date {
  font-size: 1.8rem;
  color: #777;
}

.portfolio .portfolio-content .portfolio-text p {
  line-height: 1.3;
  font-size: 1.6rem;
}

.portfolio .portfolio-content .portfolio-text p strong {
  font-weight: 600;
  font-size: 2.0rem;
  margin-right: 10px;
}

.portfolio .portfolio-content .portfolio-text p:last-of-type {
  margin-bottom: 30px;
}

.portfolio .portfolio-content .portfolio-text .portfolio-skill {}

.portfolio .portfolio-content .portfolio-text .portfolio-link {
  display: flex;
}

.portfolio .portfolio-content:nth-of-type(2) .portfolio-text .portfolio-link {
  justify-content: flex-end;
}

.portfolio .portfolio-content .portfolio-text .portfolio-link a {
  display: block;
  padding: 10px 30px;
  background: #428cff;
  border-radius: 20px;
  font-weight: 700;
  font-size: 1.6rem;
  margin-right: 10px;
  box-sizing: border-box;
  color: #fff;
}

.portfolio .portfolio-content .portfolio-text .portfolio-link a:last-child {
  margin-right: 0;
}

.portfolio .swiper-button-next,
.portfolio .swiper-button-prev {
  color: var(--yellow-main);
}

.portfolio .swiper-button-next::after,
.portfolio .swiper-button-prev::after {
  font-size: 4.4rem;
}

.portfolio .swiper-pagination-bullet-active {
  background-color: var(--yellow-main);
}

/* =============== potfolio-more ==================== */
.portfolio-more {
  padding: 200px 0 200px 250px;
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.portfolio-more .container {
  height: auto;
  text-align: center;
}

.portfolio-more h3 {
  display: inline-block;
  /* -webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: var(--yellow-main); */
  margin-bottom: 100px;
  position: relative;
}

.portfolio-more h3+p {
  font-size: 1.6rem;
}

.portfolio-more .portfolio-slide-wrap {
  position: absolute;
  left: 0;
  top: 57%;
  width: 100%;
}

.portfolio-more .portfolio-slide-wrap.swiper {
  overflow: initial;
}

.portfolio-more ul {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.portfolio-more ul li {
  width: var(--slide-width);
  height: var(--slide-height);
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(0.07, #ffffff), color-stop(0.89, #ffffff), color-stop(1, #ebebeb));
  background: -moz-linear-gradient(top, #e6e6e6 0%, #ffffff 7%, #ffffff 89%, #ebebeb 100%);
  box-shadow: rgb(0 0 0 / 27%) 2px 2px 3px;
  border-radius: 5px;
  transition: 0.5s;
  overflow: hidden;
}

/* .portfolio-more ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 80px;
  background-image: url("../img/tape1.png");
  background-size: cover;
} */
.portfolio-more ul li:hover {
  transform: translateY(-20px);
}

.portfolio-more ul li a.go-link {
  height: 83%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .portfolio-more ul li a:hover::before {
  content: "view";
  position: absolute;
  color: #fff;
  font-size: 30px;
} */
.portfolio-more ul li a.go-link::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  transition: 0.5s;
}

.portfolio-more ul li:hover a.go-link::before {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  z-index: 1;
}

.portfolio-more ul li a.go-link img {
  height: 100%;
}

.portfolio-more ul li h4 {
  display: inline-block;
  padding-left: 10px;
  margin: 10px 0;
  color: #000;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3;
}

.portfolio-more ul li p {
  background: var(--blue-sky);
  text-align: center;
  display: inline-block;
  padding: 1.0rem;
  width: 180px;
  font-size: 1.2rem;
  position: absolute;
  right: -63px;
  transform: rotate(-45deg);
  bottom: 19px;
}

.portfolio-more ul li a.git {
  margin-left: 10px;
  font-size: 2.2rem;
  color: #333;
}

/* =============== contact ==================== */
.contact {
  margin-left: 0;
  position: relative;
}

.contact .inner {}

.contact .inner .wrap {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: left;
}

.contact .inner>div {
  position: relative;
}

.contact .inner h3 {
  margin-bottom: 100px;
}

.contact .inner div h3::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: var(--yellow-main);
  border-radius: 50%;
}

.contact .inner div p {
  word-break: keep-all;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--textColor);
}

.contact .inner div .info {}

.contact .inner div .info li {
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  background: var(--yellow-light);
  box-shadow: 2px 3px 2px rgba(0, 0, 0, .2);
}

.contact .inner div .info li:nth-child(1) {
  padding: 15px 30px;
}

.contact .inner div .info li:nth-child(2) {
  transform: rotate(-3deg);
}

.contact .inner div .info li a {
  display: block;
  color: #000;
}

.contact .inner div .info li i {
  color: #000;
  font-size: 24px;
  margin-right: 20px;
  vertical-align: -3px;
}

.contact form {
  width: 475px;
  /* height: 432px; */
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  background: var(--blue-sky);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
  position: relative;
}

.contact form fieldset {
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.contact form fieldset:nth-child(3) label {
  vertical-align: top;
}

.contact form label {
  display: inline-block;
  width: 25%;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.contact form input {
  width: 72%;
  padding: 15px 0;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.6rem;
}

.contact form textarea {
  display: inline-block;
  width: 72%;
  padding: 0;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  font-size: 1.6rem;
}

.contact form .send--btn {
  border: transparent;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #ffc8ec;
  color: #000;
  cursor: pointer;
  font-family: 'Fredoka One', cursive !important;
  box-shadow: 2px 3px 2px rgb(0 0 0 / 20%);
}

.contact .thankyou_message {
  padding: 40px 50px;
  background-color: var(--yellow-main);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) rotate(-3deg);
  box-shadow: 2px 3px 13px rgb(0 0 0 / 30%);
  text-align: center;
}

.contact .thankyou_message h4 {
  font-size: 1.8rem;
  white-space: nowrap;
  text-align: center;
  line-height: 2;
}

.contact .thankyou_message .close--btn {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 25px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  color: #000;
  cursor: pointer;
  margin-top: 30px;
}

.copyright {
  display: block;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 30px;
  color: var(--blue-sky);
  font-size: 14px;
}

.mouse-circle {
  width: 30px;
  height: 30px;
  background-image: url("../img/smile-small.png");
  background-size: 100%;
  background-color: var(--yellow-main);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 9;
  transform-origin: 50% 50%;
  animation: smile-roll 2s linear infinite both;
}